<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express Assignment</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  
</body>
</html>
<header>
  <nav class="nav">
    <div class="container">
      <ul class="nav-list">
        <a href="/">
          <li class="nav-item " id="home">回到首頁</li>
        </a>
        <a href="about">
          <li class="nav-item push {{#if active}}active{{/if}}" id="about">About</li>
        </a>
        <a href="http://localhost:3000/portfolio">
          <li class="nav-item {{#if active}}active{{/if}}" id="portfolio">Portfolio</li>
        </a>
        <a href="http://localhost:3000/contact">
          <li class="nav-item {{#if active}}active{{/if}}" id="contact">Contact</li>
        </a>
      </ul>
    </div>
  </nav>
</header>

<body>
  <div class="container">
    {{{ body }}}
  </div>

  <script src="/javascripts/main.js"></script>
</body>